* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

//Fuente de letra .. googlefont
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

//Fuente de letra .. googlefont
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.contenedor {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.9375rem;
  width: 31.875rem;
  height: 43.75rem;
  margin: 1.875rem;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1.25rem;

  img {
    width: auto;
    height: 13.75rem;
    border-radius: 0.625rem;
  }

  h1 {
    /*text-align: left;*/
    @extend .young-serif-regular;
    font-size: 1.9375rem;
  }

  p {
    @extend .outfit;
    font-size: 0.79rem;
    color: gray;
    font-weight: 500;
  }
}

.section-1 {
  background-color: hsl(330, 100%, 98%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @extend .outfit;

  h3{
    color: hsl(24, 5%, 18%)
  }

  ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
  }
}
