* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  h2 {
    @extend .young-serif-regular;
    color: hsl(14, 45%, 36%);
  }
}

//Fuente de letra .. googlefont
.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

//Fuente de letra .. googlefont
.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.contenedor {
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.9375rem;
  width: 31.875rem;
  height: 100%;
  margin: 1.875rem;
  padding: 1.875rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 1.25rem;

  img {
    width: auto;
    height: 13.75rem;
    border-radius: 0.625rem;
  }

  h1 {
    @extend .young-serif-regular;
    font-size: 1.9375rem;
  }

  p {
    @extend .outfit;
    font-size: 0.79rem;
    color: gray;
    font-weight: 500;
  }
}

.section-1 {
  background-color: hsl(330, 100%, 98%);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  @extend .outfit;

  h3 {
    color: hsl(332, 51%, 32%);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-left: 1.25rem;
  }

  li {
    font-size: 0.79rem;
    color: gray;
    font-weight: 500;
    padding-left: 1.25rem;
  }

  //falta el color del span
  span {
    color: hsl(24, 5%, 18%);
    font-weight: 700;
  }
}

.secion-2 {
  @extend .outfit;
  display: flex;
  flex-direction: column;
  gap: 15px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-left: 1.25rem;
  }

  li {
    font-size: 0.79rem;
    color: gray;
    font-weight: 500;
    gap: 0.9375rem;
  }
}

.secion-3 {
  @extend .outfit;
  display: flex;
  flex-direction: column;
  gap: 15px;

  ol {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-left: 1.25rem;
    list-style: none;
    counter-reset: contador1;
  }

  li {
    font-size: 0.79rem;
    color: gray;
    font-weight: 500;
    gap: 0.9375rem;
    counter-increment: contador1;
  }

  ol li::before {
    content: counter(contador1) ". ";
    color: hsl(14, 45%, 36%);
    font-weight: bold;
  }
}
